{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load product_extras %}
{% load crispy_forms_tags %}
{% block title %}{% translate "فروشگاه اینترنتی میشاپ" %}{% endblock %}
{% block main %}
    <input type="hidden" id="category-products-url" data-url="{% url 'product_api:category-products-api' %}">
    <div id="category-modal" class="modal fade" role="dialog" style="margin-top: 10%!important;">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header-custom p-5 rounded-top">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                </div>
            </div>

        </div>
    </div>
    <div class="d-flex w-25 m-3">
        <div class="d-flex justify-content-between" style="min-width: 50rem">
            {% if user.is_authenticated %}
                <h5>user: {{ user.phone }}</h5>
                <a href="{% url 'customer:profile' %}"><h5>Profile</h5></a>
                <a href="{% url 'customer:logout' %}"><h5>logout</h5></a>
            {% endif %}
        </div>
        <ul class="d-flex justify-content-between">
            {% for category in categories %}
                <li class="mr-5">
                    <a href="" onclick="get_products_by_category({{ category.id }})">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        {% for category in object_list %}
            {% if category.products %}
                <div class="category-div">
                    <h5 class="text-right p-3">{{ category.name }}</h5>
                    <div class="d-flex justify-content-center">
                        {% for product in category.products %}
                            <div class="card text-right m-3" style="width: 17rem">
                                <div style="height: 15rem;" class="text-center">
                                    <img class="card-img-top" src="{{ product.get_first_image.image.url }}"
                                         style="object-fit: scale-down; height: 100%; width: 100%" alt="product image">
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{ product.name|short_description }}</p>
                                    <div class="text-left price">
                                        {% if product.calc_final_price.0 %}
                                            <div class="d-flex justify-content-end">
                                                <strike class="card-text m-2"
                                                        style="font-size: 85%">{{ product.price|price_format }} </strike>
                                                <p class="p-2" style="font-size: 90%; background-color: red; color: white; border-radius: 20px;">{{ product.calc_final_price.2|en_to_fa }}%</p>
                                            </div>
                                            <p class="card-text">{{ product.calc_final_price.1|price_format }}
                                                تومان </p>
                                        {% else %}

                                            <p class="card-text m-2">{{ product.price|price_format }} تومان </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}
        {% endfor %}

    </div>

{% endblock %}