{% extends 'base.html' %}
{% load customer_extras %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% translate "بازیابی رمز عبور | فروشگاه اینترنتی میشاپ" %}{% endblock %}
{% block main %}
    <input type="hidden" id="customer-login-url" data-url="{% url 'customer:login' 'confirm' %}">
    <input type="hidden" id="customer-register-url" data-url="{% url 'customer:register' 'confirm' %}">
    <input type="hidden" id="customer-home-url" data-url="{% url 'home' %}">
    <input type="hidden" id="customer-register-login-url" data-url="{% url 'customer:register-login' %}">
    <input type="hidden" id="customer-refresh-code-url" data-url="{% url 'auth_api:refresh-code' %}">
    <input type="hidden" id="customer-login-password-url" data-url="{% url 'auth_api:login-with-password' %}">
    <input type="hidden" id="customer-check-code-reset-password-url" data-url="{% url 'customer:confirm-code-reset-password' 'confirm' %}">
    <input type="hidden" id="customer-phone-form-reset-password-url" data-url="{% url 'customer:phone-reset-password' 'confirm' %}">
    <input type="hidden" id="customer-form-reset-password-url" data-url="{% url 'customer:reset-password' 'confirm' %}">
        {% if user.is_authenticated %}
            <h1>Page not found</h1>
        {% else %}
            {% if phone %}

                <div class="vertical-center jumbotron">
                    <div class="container text-center d-flex justify-content-center popup">
                        <span class="popuptext" id="myPopup"><p id="ajax-errors"></p><a id="dismiss-login-errors"
                                                                                        class="float-left ml-5 dismiss-message">متوجه شدم</a></span><br>
                        <div class="panel text-right w-50 auth-panel p-4">
                            <div>
                                <div class="text-center">
                                    <h1 id="auth-box-title">MeShop</h1>
                                </div>
                            </div>
                            <div class="panel-body text-right">
                                <form id="reset-password-form" method="post" action="{% url 'auth_api:reset-password-get-code' %}"
                                      class="register-form" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <h4>درخواست بازیابی رمز عبور</h4>
                                        <h5 class="mt-4 text-secondary">  لطفا پست الکترونیک یا شماره موبایل خود را وارد نمایید.</h5>
                                    </div>
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn red w-100 submit-btn" value="ادامه">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            {% elif code %}
                <div class="vertical-center jumbotron">
                    <div class="container text-center d-flex justify-content-center flex-row popup">
                        <span class="popuptext" id="myPopup">
                            <p id="ajax-errors"></p>
                            <a id="dismiss-login-errors" class="float-left ml-5 dismiss-message">متوجه شدم</a>
                        </span>
                        <br>
                        <div class="panel text-right w-50 auth-panel p-4">
                            <div>
                                <div class="text-center">
                                    <h1 id="auth-box-title">MeShop</h1>
                                </div>
                            </div>
                            <div class="panel-body text-right">
                                    <form action="{% url 'auth_api:check-code-reset-password' %}" method="post"
                                          enctype="multipart/form-data"
                                          id="reset-password-code">
                                <div class="form-group">
                                    <h4>کد تایید را وارد نمایید</h4>
                                    <h5 class="mt-4 text-secondary">کد تایید برای شماره موبایل
                                        ۰{{ phone_number|en_to_fa }} ارسال گردید</h5>

                                </div>
                                {% csrf_token %}
                                {{ form|crispy }}

                                <div class="text-center mb-5" id="counter-parent">
                                    <span>ارسال مجدد کد تا</span>
                                    <span id="counter">۰۲:۰۰</span>
                                    <span>دیگر</span>
                                </div>
                                <input type="submit" class="btn red w-100 submit-btn" value="ثبت درخواست">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            {% elif reset %}
                <div class="vertical-center jumbotron">
                    <div class="container text-center d-flex justify-content-center popup">
                        <span class="popuptext" id="myPopup"><p id="ajax-errors"></p><a id="dismiss-login-errors"
                                                                                        class="float-left ml-5 dismiss-message">متوجه شدم</a></span><br>
                        <div class="panel text-right w-50 auth-panel p-4">
                            <div>
                                <div class="text-center">
                                    <h1 id="auth-box-title">MeShop</h1>
                                </div>
                            </div>
                            <div class="panel-body text-right">
                                <form id="change-password-form" method="post" action="{% url 'auth_api:change-password' %}"
                                      class="register-form" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <h4>تغییر رمز عبور</h4>
                                        <h5 class="mt-4 text-secondary"> رمز عبور شما باید حداقل ۶ حرف باشد</h5>
                                    </div>
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn red w-100 submit-btn" value="تغییر رمز عبور">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
{% endblock %}