{% extends 'base.html' %}
{% load customer_extras %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}<script src="{% static 'js/register.js' %}"></script>{% endblock %}
{% block title %}{% translate "ورود/ثبت نام | فروشگاه اینترنتی میشاپ" %}{% endblock %}
{% block main %}
    <input type="hidden" id="customer-login-url" data-url="{% url 'customer:login' 'confirm' %}">
    <input type="hidden" id="customer-register-url" data-url="{% url 'customer:register' 'confirm' %}">
    <input type="hidden" id="customer-home-url" data-url="{% url 'home' %}">
    <input type="hidden" id="customer-register-login-url" data-url="{% url 'customer:register-login' %}">
    <input type="hidden" id="customer-refresh-code-url" data-url="{% url 'auth_api:refresh-code' %}">
    <input type="hidden" id="customer-login-password-url" data-url="{% url 'auth_api:login-with-password' %}">
    {% if login_type == 'password' %}


        <div class="vertical-center jumbotron">
            <div class="container text-center d-flex justify-content-center popup">
                <span class="popuptext" id="myPopup"><p id="ajax-errors"></p><a id="dismiss-login-errors"
                                                                                        class="float-left ml-5 dismiss-message">متوجه شدم</a></span><br>
                <div class="panel text-right w-50 auth-panel p-4">
                    <div>
                        <div class="text-center">
                            <h1 id="auth-box-title">MeShop</h1>
                        </div>
                    </div>
                    <div class="panel-body text-right">

                        <form id="login-password" method="post" action="{% url 'auth_api:login-with-password' %}"
                              class="register-form" enctype="multipart/form-data">
                            <div class="form-group">
                                <h4> رمز عبور را وارد کنید </h4>
                                <h5 class="mt-4 text-secondary">رمز عبور حساب کاربری خود را وارد کنید</h5>
                            </div>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="mt-5 mb-5">
                                {% if not auth_by %}
                                    <div class="mt-5 mb-4">
                                        <a href="{% url 'customer:login' "confirm" %}?token={{ token }}&login_type={{ "onetime_code" }}"
                                           class="links"> ورود با رمز یکبار مصرف<span class="mr-2"><i class="fa fa-chevron-left mt-1 arrow-left" aria-hidden="true"></i></span></a>
                                    </div>
                                {% endif %}
                                <div>
                                    <a href="{% url 'customer:phone-reset-password' 'confirm' %}?token={{ token }}"
                                       class="links"> بازیابی رمزعبور<span class="mr-2"><i class="fa fa-chevron-left mt-1 arrow-left" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                            <input type="submit" class="btn red w-100 submit-btn" value="ادامه">
                        </form>
                    </div>

                </div>
            </div>
        </div>


    {% else %}
        {% if user.is_authenticated %}
            <h1>Page not found</h1>
        {% else %}
            {% if phone %}

                <div class="vertical-center jumbotron">
                    <div class="container text-center d-flex justify-content-center popup">
                        <span class="popuptext" id="myPopup"><p id="ajax-errors"></p><a id="dismiss-login-errors"
                                                                                        class="float-left ml-5 dismiss-message">متوجه شدم</a></span><br>
                        <div class="panel text-right w-50 auth-panel p-4">
                            <div>
                                <div class="text-center">
                                    <h1 id="auth-box-title">MeShop</h1>
                                </div>
                            </div>
                            <div class="panel-body text-right">
                                <form id="register-login" method="post" action="{% url 'auth_api:register-login' %}"
                                      class="register-form" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <h4>ورود <span class="slash">/</span> ثبت نام</h4>
                                        <h5 class="mt-4 text-secondary">شماره تلفن یا ایمیل خود را وارد کنید</h5>
                                    </div>
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn red w-100 submit-btn" value="ورود به میشاپ">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            {% else %}
                <div class="vertical-center jumbotron">
                    <div class="container text-center d-flex justify-content-center flex-row popup">
                        <span class="popuptext" id="myPopup"><p id="ajax-errors"></p><a id="dismiss-login-errors"
                                                                                        class="float-left ml-5 dismiss-message">متوجه شدم</a></span><br>
                        <div class="panel text-right w-50 auth-panel p-4">
                            <div>
                                <div class="text-center">
                                    <h1 id="auth-box-title">MeShop</h1>
                                </div>
                            </div>
                            <div class="panel-body text-right">
                                {% if login %}
                                    <form action="{% url 'auth_api:check-code' %}" method="post"
                                          enctype="multipart/form-data"
                                          id="user-code">
                                {% elif register %}
                                    <form action="{% url 'auth_api:check-code' %}" method="post"
                                          enctype="multipart/form-data"
                                          id="user-code">
                                {% endif %}
                                <div class="form-group">
                                    <h4>کد تایید را وارد نمایید</h4>
                                    <h5 class="mt-4 text-secondary">کد تایید برای شماره موبایل
                                        ۰{{ phone_number|en_to_fa }} ارسال گردید</h5>

                                </div>
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if login %}
                                    <div class="mt-2 mb-5">
                                        <a href="{% url 'customer:login' "confirm" %}?token={{ token }}&login_type={{ "password" }}"
                                           class="links"> ورود با رمزعبور<span class="mr-2"><i class="fa fa-chevron-left mt-1 arrow-left" aria-hidden="true"></i></span></a>
                                    </div>

                                {% endif %}
                                <div class="text-center mb-5" id="counter-parent">
                                    <span>ارسال مجدد کد تا</span>
                                    <span id="counter">۰۲:۰۰</span>
                                    <span>دیگر</span>
                                </div>
                                <input type="submit" class="btn red w-100 submit-btn" value="ثبت درخواست">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>


            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}