{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    {% if user.is_authenticated %}
        <h1>Page not found</h1>
    {% else %}
        {% if phone %}
            <div class="container">
                <div class="text-center">
                    <h2></h2>
                </div>
                <div class="text-right">
                    <form action="{% url 'auth_api:register-login' %}" method="post" enctype="multipart/form-data"
                          id="register-login">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="ثبت درخواست">
                    </form>
                </div>
            </div>
            <script>
                let s;
                $("#register-login").submit(function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    var form = $(this);
                    var url = form.attr('action');

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: function (data) {
                            if (data['status'] === 0) {
                                let new_url = `{% url 'customer:login' 'confirm' %}` + "?token=" + data['token'];
                                window.location.replace(new_url)
                            } else if (data['status'] === 1) {
                                let new_url = "{% url 'customer:register' 'confirm' %}" + "?token=" + data['token'];
                                window.location.replace(new_url)
                            }
                        }
                    });


                });
            </script>
        {% else %}
            <div class="text-center">
                <h2>ثبت کد</h2>
                <h3 style="color: red" id="ajax-errors"></h3>
            </div>
            <div class="text-right">
                {% if login %}
                    <form action="{% url 'auth_api:check-code' %}" method="post" enctype="multipart/form-data"
                          id="register-login">
                {% elif register %}
                    <form action="{% url 'auth_api:check-code' %}" method="post" enctype="multipart/form-data"
                          id="register-login">
                {% endif %}
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="ثبت درخواست">
                </form>
            </div>
            <script>

                $("#register-login").submit(function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    var form = $(this);
                    var url = form.attr('action');
                    var token = window.location.href.split('?')[1].substring(6,)
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {'token': token, 'code': $('#id_code').val()}, // serializes the form's elements.
                        success: function (data) {
                            // show response from the python script.
                            let response_status_code = data['status'][1]
                            if (response_status_code === 10) {
                                let new_url = "{% url 'customer:home' %}";
                                window.location.replace(new_url)
                            } else if (response_status_code === 20) {
                                $('#register-login').trigger("reset");
                                $('#ajax-errors').html('code is not correct! try again')

                            } else if (response_status_code === 30) {
                                $('#register-login').trigger("reset");
                                $('#ajax-errors').html('your time is up please click this for resend a new code')

                            } else {
                                $('#ajax-errors').html('somethings wrong try again')
                                let new_url = "{% url 'customer:register-login' %}";
                                window.location.replace(new_url)
                            }
                        }
                    });


                });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}