@font-face {
    font-family: digifont;
    src: url('../fonts/digifont2.otf');
}

@font-face {
    font-family: iransans;
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}

@font-face {
    font-family: digital;
    src: url("../fonts/Mj_Digital Arabia LT_0.ttf");
}

body {
    background-color: rgb(245, 245, 245) !important;
}

* {
    font-family: iransans, serif;
    direction: rtl;
}


#auth-box-title {
    font-family: digifont, serif !important;
    color: #d51b1b !important;
    min-font-size: 100rem !important;
    max-font-size: 1rem !important;
}


.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.auth-panel {
    border-radius: 3.5rem !important;
}

.red {
    background-color: #d51b1b !important;
    color: white;
}

.panel {
    max-width: 40rem !important;
    min-width: 35rem !important;
}

.slash {
    font-size: 130%;
}

.links span {
    font-size: 80% !important;
}

.links:hover {
    text-decoration: none;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 40%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    font-size: 50% !important;
    bottom: 125%;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dismiss-message {
    font-size: 165% !important;
    color: deepskyblue !important;
}

.submit-btn:hover, .submit-btn {
    outline: none !important;
}

.panel-body > form > div > h5 {
    font-size: 80% !important;
}


#side-main-div {
    max-width: 80% !important;
    margin: 0 auto !important;
}

.sidebar {
    min-width: 19% !important;
}

.main {
    min-width: 79% !important;
}

@media screen and (max-width: 1390px) {
    .sidebar, .main {
        min-width: 100% !important;
    }

    .side-main-div-container {
        flex-direction: column;

    }
}

.underline-dashed {
    border-bottom: #1e2c7f 2px dashed!important;
    width: auto!important;
}

.info-values {
    color: rgba(0, 0, 0, 0.63) !important;
}

.rounded {
    border-radius: 7px!important;
}

.ad-div {
    height: 7rem!important;
    background-image: url("../img/invite-friends-label.jpg");
    background-size: cover;
}


.public-profile-pic {
    height: 5.5rem!important;
    background-image: url("../img/public-profile.svg");
    background-size: 5.5rem;
    background-repeat: no-repeat;
    background-position: right;
}

.sidebar-main {
    min-height: 20rem!important;
}

.sep-border {
    width: 90%!important;
    border-bottom: 1px rgba(0, 0, 0, 0.14) solid!important;
    display: block!important;
    margin: auto!important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.my-order {
    border: none!important;

}

.border {
    border: 1px rgba(0, 0, 0, 0.15) dashed!important;
}

#order-info > div {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 5rem;
    background-color: #1479e7;
    color: white;
}

.info-values {
    font-size: 140% !important;
    color: #444343;
    font-weight: bold;
}


.modal-header-custom {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
}

.modal-content {
    border-radius: 15px!important;
}


.close {
    outline: none!important;
}

select {
	appearance: none!important;
    outline: none!important;
}

select:active {
	appearance: none!important;
    outline: none!important;
}

.card-title, .btn {
    font-size: 80%!important;
}

.price > p {
    font-size: 80%!important;
    font-weight: bolder;
}

.card {
    border-radius: 15px!important;
    border: none;
    transition: transform 200ms ease-in-out, box-shadow 100ms ease-in-out;
}

.category-div {
    background-color: white;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-1em);
    transition: transform 200ms ease-in-out, box-shadow 100ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(54, 54, 54, 0.36);

}

.under-nav {
    margin-top: 5%!important;
}