{% extends 'home_base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load product_extras %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% translate "فروشگاه اینترنتی میشاپ" %}{% endblock %}
{% block head %}

    <style>
        body {
            background-color: white !important;
            height: 100% !important;
        }
    </style>
        <script src="{% static 'js/products.js' %}"></script>
{% endblock %}
{% block content %}

    <div id="product-images-modal" class="modal fade" role="dialog" style="margin-top: 10%!important;">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header-custom p-5 rounded-top">
                    <h4 class="modal-title">عکس های محصول</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="w3-content w3-display-container" id="product-images-modal-body">


                    </div>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="products-images-url" data-url="{% url 'product_api:product-images-api' %}">
    <input type="hidden" id="product-price-by-property-url"
           data-url="{% url 'product_api:product-price-by-property-api' %}">
    <input type="hidden" id="product-price-by-color-url"
           data-url="{% url 'product_api:product-price-by-color-api' %}">
    <input type="hidden" id="product-price-by-color-and-property-url"
           data-url="{% url 'product_api:product-price-by-color-and-property-api' %}">
    <input type="hidden" id="convert-toman-to-mecoin-url"
           data-url="{% url 'customer_api:mecoin' %}">
    <input type="hidden" id="products-by-category-except-given-id"
           data-url="{% url 'product_api:category-exclude-product' %}">
    {% with product_data=product.get_all_info %}
        <input type="hidden" id="product-id-data" data-key="{{ product_data.product.id }}">
        <input type="hidden" id="category-id-data" data-key="{{ product_data.product.category.id }}">
        <div class="row under-nav justify-content-center bg-white" id="test">
            <div class="col-10">
                <div class="row">

                    <div class="col-4 text-center" style="width: 20rem;">
                        <div>
                            <img class="p-2" src="{{ product_data.images.0.image.url }}" alt=""
                                 style="object-fit: scale-down; height: 100%; width: 70%;">
                        </div>

                        <div>
                            <div>
                                <a href="" id="other-product-images" onclick="get_product_images({{ product.id }})">
                                    {% for other_image in product.get_images_thumbnail|list_range:"1-" %}
                                        <img class="p-2 mini-product-images" src="{{ other_image }}" alt="">
                                    {% endfor %}
                                    <span>دیدن عکس ها</span>

                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-8 bg-white">
                        <div class="row"><h5>{{ product_data.product.name }}</h5></div>

                        <div class="row h-100">
                            <div class="col-8 text-right border-top">
                                <div id="product-colors">
                                    {% with colors=product.check_colors %}
                                        {% with quantities=product.check_quantity %}
                                            {% if colors.0 and colors.1 != 0 %}
                                                <ul class="non-style-list mt-4">
                                                    <li><b><p>رنگ ها</p></b></li>
                                                    <li>
                                                        <ul class="d-flex non-style-list">
                                                            {% for color in colors.1 %}
                                                                <li><a href="" class="colors mr-2"
                                                                       {% if forloop.counter == 1 %}id="color-active"{% endif %}
                                                                       data-key="{{ color.id }}"
                                                                       onclick="get_price_base_of_color_and_property($('#property-active'), $(this), {{ product.id }})">
                                                                    <span class="circle"
                                                                          style="background-color: {{ color.color }};">   </span>
                                                                </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                        </div>
                                        <div>
                                        {% with quantities=product.check_quantity %}
                                            {% if quantities.0 and quantities.1 != 0 %}
                                                <ul class="non-style-list mt-4">
                                                    <li><p><b>{{ product.factor_property.name }}</b></p></li>
                                                    <li>
                                                        <ul class="non-style-list">
                                                            {% for quantity in quantities.1 %}
                                                                <li class="m-3">
                                                                    <a href="" class="properties"
                                                                       {% if forloop.counter == 1 %}id="property-active"{% endif %}
                                                                       onclick="get_price_base_of_color_and_property($(this), $('#color-active'), {{ product.id }})"
                                                                       data-key="{{ quantity.id }}">{{ quantity.value }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                    {% endwith %}
                                    </div>
                                {% if product.get_top_3_properties %}
                                    <div class="pt-5">

                                        <ul class="text-right product-properties non-style-list">
                                            <li class="mb-3"><b>ویژگی های کالا</b></li>
                                            <li>
                                                <ul class="non-style-list">
                                                    {% for property in product.get_top_3_properties %}

                                                        <li class="d-flex"><p
                                                                class="ml-2">{{ property.property.name }}: </p>
                                                            <p>{{ property.description }}</p></li>

                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if product.category.name == 'تلفن همراه' %}
                                    <div class="meshop-warnings mt-5">

                                        <p>
                                            <span><i class="fa fa-exclamation-circle text-secondary"
                                                     aria-hidden="true"></i></span>
                                            هشدار سامانه همتا: در صورت انجام معامله، از فروشنده کد فعالسازی را گرفته و
                                            حتما
                                            در حضور ایشان، دستگاه را از طریق #7777*، برای سیمکارت خود فعالسازی نمایید.
                                            آموزش
                                            تصویری در آدرس اینترنتی hmti.ir/06
                                            امکان برگشت کالا در گروه موبایل با دلیل "انصراف از خرید" تنها در صورتی مورد
                                            قبول
                                            است که پلمپ کالا باز نشده باشد.</p>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-4 price-side rounded" style="height: fit-content">
                                {% with guarantee=product.check_for_guarantee %}
                                    {% if guarantee %}

                                        <div class="text-center d-flex mt-5 mb-4">
                                            <div><i class="fa fa-shield mt-2 ml-3 mr-1" aria-hidden="true"
                                                    style="font-size: 180%"></i></div>
                                            <div><h5>{{ guarantee.description }}</h5></div>
                                        </div>
                                        <span class="sep-border"></span>
                                    {% endif %}
                                {% endwith %}


                                {% if product.check_all_quantity.1 != 0 %}
                                    <div id="quantity" class="text-center d-flex mt-4 mb-4">
                                        <div>
                                            <i class="fa fa-check-square-o mt-2 ml-3" aria-hidden="true"
                                               style="font-size: 170%"></i>
                                        </div>
                                        <div>
                                            <h5>موجود در انبار میشاپ</h5>
                                        </div>
                                    </div>
                                    <span class="sep-border"></span>

                                {% endif %}

                                <div id="price" class="mt-3 mb-3">
                                    {% with quantity=product.check_all_quantity %}
                                        {% if quantity.1 != 0 %}
                                            {% with product_price=product.check_properties %}
                                                {% if quantity.0 %}

                                                    <div class="mt-2">
                                                        {% if product.productdiscount %}
                                                            <div class="d-flex justify-content-end"><strike
                                                                    style="font-size: 85%"><h4 id="base-price">
                                                                {{ product.calc_final_price_with_default_properties.3|price_format }}</h4>
                                                            </strike>
                                                                <p class="p-2 m-2"
                                                                   style="font-size: 90%; background-color: red; color: white; border-radius: 20px;">{{ product.calc_final_price_with_default_properties.2|en_to_fa }}%</p>
                                                            </div>
                                                            <div>
                                                                <h3 id="price-with-discount"> {{ product.calc_final_price_with_default_properties.1|price_format }}<span
                                                                        class="m-2 mr-3"
                                                                        style="font-size: 70%!important;">تومان</span>
                                                                </h3>
                                                            </div>
                                                            <span class="sep-border"></span>
                                                            <div class="text-right mt-3 mb-3">

                                                                <span><img id="mecoin"
                                                                           src="{% static 'img/mecoin.png' %}"
                                                                           alt=""></span>
                                                                <span id="mecoin-gift" class="mr-2">{{ product.calc_final_price_with_default_properties.1|mecoin|en_to_fa }}</span>
                                                                <span>امتیاز</span>
                                                            </div>
                                                        {% else %}
                                                            <h3 id="base-price">
                                                                {{ product.calc_final_price_with_default_properties.1|price_format }}<span
                                                                    class="m-2"
                                                                    style="font-size: 70%!important;">تومان</span>
                                                            </h3>
                                                            <span class="sep-border"></span>
                                                            <div class="text-right mt-3 mb-3">

                                                                <span><img id="mecoin"
                                                                           src="{% static 'img/mecoin.png' %}"
                                                                           alt=""></span>
                                                                <span id="mecoin-gift" class="mr-2">{{ product.calc_final_price_with_default_properties.1|mecoin|en_to_fa }}</span>
                                                                <span>امتیاز</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                {% else %}
                                                    <div>
                                                        {% if product.productdiscount %}
                                                            <div class="d-flex justify-content-end"><strike
                                                                    style="font-size: 85%"><h4 id="base-price">
                                                                {{ product_price.0|price_format }}</h4></strike>
                                                                <p class="p-2 m-2"
                                                                   style="font-size: 90%; background-color: red; color: white; border-radius: 20px;">{{ product.calc_final_price.2|en_to_fa }}%</p>
                                                            </div>

                                                            <div>
                                                                <h3 id="price-with-discount"> {{ product.calc_final_price.1 }}<span
                                                                        class="m-2"
                                                                        style="font-size: 70%!important;">تومان</span>
                                                                </h3>
                                                            </div>
                                                            <span class="sep-border"></span>
                                                            <div class="text-right mt-3 mb-3">

                                                                <span><img id="mecoin"
                                                                           src="{% static 'img/mecoin.png' %}"
                                                                           alt=""></span>
                                                                <span id="mecoin-gift" class="mr-2">{{ product.calc_final_price.1|mecoin|en_to_fa }}</span>
                                                                <span>امتیاز</span>
                                                            </div>
                                                        {% else %}
                                                            <h3 id="base-price">
                                                                {{ product_price.0|price_format }}<span class="m-2"
                                                                                                        style="font-size: 70%!important;">تومان</span>
                                                            </h3>
                                                            <span class="sep-border"></span>
                                                            <div class="text-right mt-3 mb-3">
                                                                <span><img id="mecoin"
                                                                           src="{% static 'img/mecoin.png' %}"
                                                                           alt=""></span>
                                                                <span id="mecoin-gift" class="mr-2">{{ product_price.0|mecoin|en_to_fa }}</span>
                                                                <span>امتیاز</span>

                                                            </div>
                                                        {% endif %}

                                                    </div>

                                                {% endif %}
                                            {% endwith %}

                                            <span class="sep-border"></span>
                                            <div id="add-to-cart" class="m-5 text-center ">
                                                <button onclick="
                                                        add_cart_to_database('{{ user.get_token }}' ,{{ product.id }})"
                                                        class="btn btn-rounded btn-danger w-75 p-3">افزودن به سبد خرید
                                                </button>
                                            </div>
                                        {% else %}
                                            موجود نیست
                                        {% endif %}
                                    {% endwith %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    {% endwith %}
    {% if other_products|length != 0 %}
        <div class="justify-content-center row mb-5" style="margin-top: 5%">

            <div class="col-10 border-solid rounded" >
                <div class="text-right">
                    <h5 style="border-bottom: 3px red solid; width: fit-content" class="pr-4 pt-4 pb-4">محصولات مرتبط</h5>
                </div>

                <div id="other-products" style="transition: all 1000ms ease-in-out">

                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}

