{% extends 'home_base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load product_extras %}
{% load crispy_forms_tags %}
{% block title %}سبد خرید{% endblock %}
{% load static %}
{% block content %}
    <input id="empty-cart-img" type="hidden" data-key="{% static 'img/empty-cart-2.png' %}">
    <input type="hidden" id="convert-toman-to-mecoin-url"
           data-url="{% url 'customer_api:mecoin' %}">
    <div class="row under-nav justify-content-center mb-5">
    {{ object_list.customer.check_mecoin }}
        <div class="col-9">
            <div class="row justify-content-between">
                <div class="col-8 bg-white rounded" id="main-cart-body" style="height: fit-content">
                    {% if object_list.cartitem_set.all %}
                        {% for item in object_list.cartitem_set.all %}
                            <div class="bg-white text-right cart-item-container" id="item-container-{{ item.id }}">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{{ item.product.get_images_thumbnail.0 }}" alt="product image">
                                    </div>
                                    <div class="col-10 text-dark">
                                        <h5>{{ item.product.name }}</h5>

                                        {% if item.product_color %}
                                            <div>
                                                <div class=" float-right">
                                                    <i class="fa fa-paint-brush cart-icons" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                <span class="circle-small"
                                                      style="background-color: {{ item.product_color.color }};">   </span>
                                                    <small class="mr-2 text-after-cart-items">[ رنگ ]</small>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if item.product_property %}
                                            <div class="mt-2">
                                                <div class="float-right">
                                                    <i class="fa fa-cogs cart-icons" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p class="text-after-cart-items">{{ item.product_property.value|en_to_fa }}
                                                        <small>[ {{ item.product.factor_property.name }} ]</small></p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% with guarantee=item.product.check_for_guarantee %}
                                            {% if guarantee %}

                                                <div>
                                                    <div class="float-right mr-1">
                                                        <i class="fa fa-shield cart-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div>
                                                        <p class="text-after-cart-items">{{ guarantee.description }}</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% with quantity_check=item.check_product_with_properties_exist.0 %}
                                            {% if quantity_check %}
                                                <div>
                                                    <div class="float-right">
                                                        <i class="fa fa-check-square-o cart-icons"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                    <div>
                                                        <p class="text-after-cart-items">موجود در انبار میشاپ</p>
                                                    </div>
                                                </div>
                                                <div class="pt-5 pb-5">
                                                    <div class="row">
                                                        <div class="col-2 d-flex justify-content-between add-delete-item">
                                                            <button class="add-delete-item-buttons" onclick="
                                                                    add_cart_to_database('{{ user.get_token }}' ,{{ item.product.id }},
                                                                    {% if item.product_color %}
                                                                        {{ item.product_color.id }},
                                                                    {% else %}
                                                                        null,
                                                                    {% endif %}
                                                                    {% if item.product_property %}
                                                                        {{ item.product_property.id }},
                                                                    {% else %}
                                                                        null,
                                                                    {% endif %}
                                                                    {{ item.id }},
                                                                    1)">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                            <div id="item-{{ item.id }}">{{ item.number|en_to_fa }}</div>
                                                            <div>
                                                                <button class="add-delete-item-buttons" onclick="
                                                                        add_cart_to_database('{{ user.get_token }}' ,{{ item.product.id }},
                                                                        {% if item.product_color %}
                                                                            {{ item.product_color.id }},
                                                                        {% else %}
                                                                            null,
                                                                        {% endif %}
                                                                        {% if item.product_property %}
                                                                            {{ item.product_property.id }},
                                                                        {% else %}
                                                                            null,
                                                                        {% endif %}
                                                                        {{ item.id }},
                                                                        -1)">
                                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 pt-4 pr-5">
                                                            <button class="links text-secondary link-buttons" onclick="
                                                                    add_cart_to_database('{{ user.get_token }}' ,{{ item.product.id }},
                                                                    {% if item.product_color %}
                                                                        {{ item.product_color.id }},
                                                                    {% else %}
                                                                        null,
                                                                    {% endif %}
                                                                    {% if item.product_property %}
                                                                        {{ item.product_property.id }},
                                                                    {% else %}
                                                                        null,
                                                                    {% endif %}
                                                                    {{ item.id }},
                                                                    'delete_all')">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                <small>حذف</small>
                                                            </button>
                                                        </div>
                                                        <div class="col-8 text-left">
                                                            {% with item_price=item.get_item_price %}
                                                                {% if item_price.1 != 0 %}

                                                                    <p class="text-danger"
                                                                       id="discount-per-items-{{ item.id }}"
                                                                       data-key="{{ item_price.2|subtract:item_price.0 }}">
                                                                        <span class="small-font">تخفیف</span> <span
                                                                            id="discount-price-value-{{ item.id }}">{{ item_price.2|subtract:item_price.0|multiply:item.number|price_format }}</span>
                                                                        <span class="small-font">تومان</span></p>
                                                                {% else %}
                                                                    <p class="p-2"></p>
                                                                {% endif %}

                                                                <p id="price-per-items-{{ item.id }}"
                                                                   data-key="{{ item_price.0 }}"><span
                                                                        id="price-value-{{ item.id }}">{{ item_price.0|multiply:item.number|price_format }}</span>
                                                                    <span class="small-font">تومان</span></p>

                                                            {% endwith %}
                                                        </div>
                                                    </div>

                                                </div>
                                            {% else %}
                                                <div>
                                                    <div class="float-right">
                                                        <i class="fa fa-times-circle-o cart-icons"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                    <div>
                                                        <p class="text-after-cart-items">عدم موجودی</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endwith %}

                                    </div>
                                </div>
                                {% if not forloop.counter == object_list.cartitem_set.all|length %}
                                    <span class="sep-border"></span>
                                {% endif %}

                            </div>

                        {% endfor %}
                    {% else %}
                        {% if not user.is_authenticated %}
                            <script>show_cart_from_local()</script>
                        {% endif %}
                        <div class="text-center p-5">
                            <img class="cart-image" src="{% static 'img/empty-cart-2.png' %}" alt="empty-cart">
                            <h4>سبد خرید شما خالی است!</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% if object_list.cartitem_set.all %}

                        <div id="cart-price-div" class="text-center bg-white rounded pb-5 mb-5"
                             style="max-height: 25rem!important;">

                            <div class="row pr-5 pl-5 pt-4">

                                <div class="col-6 text-right text-secondary"><h5 style="font-size: 80%">قیمت کالاها</h5>
                                </div>
                                <div class="col-6 text-left" id="cart-price-without-discount">
                                    <h5>{{ object_list.calc_price.0|price_format }}</h5>
                                </div>

                            </div>
                            <div class="row pr-5 pl-5">

                                <div class="col-6 text-right text-secondary"><h5 style="font-size: 80%">تخفیف
                                    کالاها</h5></div>
                                <div class="col-6 text-left" id="cart-discount">
                                    <h5 class="text-danger d-flex justify-content-end">
                                        <span class="ml-2">({{ object_list.calc_price.2|price_format }}%)  </span><span>{{ object_list.calc_price.3|price_format }}</span>
                                    </h5>
                                </div>

                            </div>
                            <span class="sep-border"></span>
                            <div class="row pr-5 pl-5">

                                <div class="col-6 text-right"><h5 style="font-size: 80%">جمع سبد خرید</h5></div>
                                <div class="col-6 text-left" id="cart-total-price">
                                    <h5>{{ object_list.calc_price.1|price_format }}</h5>
                                </div>

                            </div>
                            <div class="row pr-5 pl-5 text-right pt-3 pb-3"><small style="font-size: 65%">هزینه‌ی ارسال
                                در
                                ادامه
                                بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌ محاسبه و به این مبلغ اضافه خواهد
                                شد</small>
                            </div>
                            <div>
                                <a href="{% url 'order:order' %}" class="btn btn-danger pl-5 pr-5 p-3">ادامه فرآیند
                                    خرید</a>
                            </div>
                            <div class="text-right mt-3 mb-3 pr-5 pl-5 text-right pt-3 pb-3 rounded-bottom"
                                 id="cart-mecoin-div">

                                <span>
                                    <img id="cart-mecoin" class="mt-2" src="{% static 'img/mecoin.png' %}" alt="">
                                </span>
                                <span class="small-font">امتیاز می کوین</span>
                                <div class=" float-left mt-2">
                                <span id="mecoin-gift"
                                      class="mr-2 small-font">{{ object_list.cart_mecoin|en_to_fa }}</span>
                                    <span class="small-font">امتیاز</span>
                                </div>
                            </div>

                        </div>



                    {% endif %}
                    {% if not user.is_authenticated %}
                        <div>
                            <a href="{% url 'customer:register-login' %}" class="links text-dark">
                                <div class="bg-white text-right pt-3 pb-3 pr-5 pl-5 rounded d-flex">
                                    <div class="mt-2 pl-3">
                                        <i class="fa fa-sign-in text-warning" aria-hidden="true"
                                           style="font-size: 180%"></i>
                                    </div>
                                    <div>
                                        <h5>ورود به حساب کاربری</h5>
                                        <p style="font-size: 80%">برای مشاهده محصولاتی که پیشتر به سید خود اضافه کرده
                                            اید
                                            لطفا وارد شوید.</p>
                                    </div>

                                </div>
                            </a>
                        </div>

                    {% else %}
                        {% if object_list.cartitem_set.all %}
                            <div id="cart-reserve-info" class="text-right pb-4">
                                <p style="font-size: 80%">کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                    مراحل
                                    بعدی را تکمیل کنید.</p>
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-between bg-white rounded"
                             style="pointer-events: none;  cursor:not-allowed;  -webkit-user-select: none;">

                            <div class="text-right mr-5">
                                <h5 class="mt-4 pt-2" style="font-size: 80%">ارسال سفارش های رایگان</h5>
                                <p class="text-secondary" style="font-size: 60%">سفارش های بالای ۳۰۰ هزار تومان</p>
                            </div>
                            <div><img class="rounded" src="{% static 'img/order-delivery-info.png' %}"
                                      alt="order-delivery-info"></div>

                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

